<%-include('./partials/header')%>
    <!-- <script src="/JS/createuser.js" defer></script> -->

    <form action="/createuser" method="post" id="createuserform">
        <h1>Register your credentials!</h1>
        <input type="text" name="username" id="username" placeholder="username">
        <input type="password" name="password" id="password" placeholder="password">
        <input type="password" name="password2" id="password2" placeholder="repeat password">
        <input type="submit" value="Create User!">
        <% if(typeof(errormessage) !== 'undefined') { %>
        <p class="errorfield" id="errorfield">
            <%= errormessage %>
        </p>
        <% } %>
    </form>
<%-include('./partials/footer')%>