<%-include('./partials/header') %>
    <script src="/JS/login.js" defer></script>
    
    <form action="/login" method="get" id="loginform">
        <h1>Identify yourself!</h1>
        <input type="text" name="username" id="username" placeholder="username">
        <input type="password" name="password" id="password" placeholder="password">
        <input type="submit" value="Log in!">
        <a href="/createuser">Create new User</a>
    </form>
<%-include('./partials/footer') %>

